@using MVC_Sasema_test.Models;
@model dynamic
@{
    ViewBag.Title = "Index";
}
@* # This view is here to how to display data straight from .json
    # There's also a prototype of a search function*@



<h2>@ViewBag.showLocation</h2>
@Html.AntiForgeryToken()
<hr />

@* Action link, joka ottaa käyttäjän syöttämän datan textboxista ja välittää sen metodille.*@
@Html.ActionLink("Search", "SaveToDB", "Compilation", new { location = "thisValueGetsReplaced", TypeId = "1" }, new { @class = "btn btn-info" })
<input type="text" name="IP" id="IP" pattern="[A-Za-zÀ-ÖØ-öø-ÿ]" value="" />


@Html.ActionLink("Erase data from DB", "EraseFromDB", "Compilation", new { @class = "btn btn-danger" })
<div class="container-fluid">
    @*
        <div class="col-md-3">
            <table class="table table-striped" style="width:300px">
                <caption><h3 align="center">yr.no</h3></caption>

                <thead>
                    <tr>
                        <th>Timecode</th>
                        <th>Temperature</th>
                    </tr>
                </thead>

                    <tbody>

                        @foreach (var item in Model.YrnoObject.properties.timeseries)
                        {
                            <tr>
                                <td>@item.time</td>
                                <td>@item.data.instant.details.air_temperature °</td>
                                @*  <td>@item.data.instant.details.wind_speed m/s</td>
                                    <td>@item.data.instant.details.relative_humidity %</td>
                                    <td>@item.data.instant.details.air_pressure_at_sea_level hPa</td>



                            </tr>
                        }

                    </tbody>
                </table>
            </div>
    *@
    <div class="col-lg-3">
        <table class="table table-striped" style="width:300px">
            <caption><h3 align="center">FMI</h3></caption>

            <thead>
                <tr>
                    <th>Timecode</th>
                    <th>Temperature</th>
                    @*           <th>Wind speed</th>
                        <th>Humidity</th>
                        <th>Air pressure</th>

                    *@
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.FMIObject.Member2.PointTimeSeriesObservation.Result.MeasurementTimeseries.Point)
                {
                    <tr>
                        <td>@item.MeasurementTVP.Time</td>
                        <td>@item.MeasurementTVP.Value2</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <table class="table table-striped" style="width:300px">
            <caption><h3 align="center">SMHI</h3></caption>

            <thead>
                <tr>
                    <th>Timecode</th>
                    <th>Temperature</th>
                    @*           <th>Wind speed</th>
                        <th>Humidity</th>
                        <th>Air pressure</th>

                    *@
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.SMHIObject.timeSeries)
                {
                    <tr>
                        <td>@item.validTime</td>
                        <td>
                            @foreach (var item2 in item.parameters)
                            {
                                foreach (var item3 in item2.values)
                                {
                                    @item3
                                }

                            }
                        </td>
                    </tr>

                }


            </tbody>
        </table>
    </div>

</div>





@*
        <table class="table table-hover" style="width:400px">
            <caption><h3 align="center">yr.no</h3></caption>

            <thead>
                <tr>
                    <th>Timecode</th>
                    <th>Temperature</th>



                </tr>

            </thead>
            <tbody>
             @foreach (var item in Model.FMIObject)
                {
                    <tr>
                        <!--<td>@item.GmlDataBlock.doubleOrNilReasonTupleList</td>-->
                        <td>@item.GmlcovPositions °</td>-->
                        @*  <td>@item.data.instant.details.wind_speed m/s</td>
                            <td>@item.data.instant.details.relative_humidity %</td>
                            <td>@item.data.instant.details.air_pressure_at_sea_level hPa</td>
                            <td>@item.data. hPa</td>


                </tr>
            }

        </tbody>
    </table>*@

@section scripts {
    <script>
                $(function () {
                    $('.btn').click(function () {
                        var ipvalue = $("#IP").val();
                        var azAZ = new RegExp('^[a-zA-Z\u00C0-\u00FF]*$');

                        if (azAZ.test(ipvalue)) {


                            this.href = this.href.replace("thisValueGetsReplaced", ipvalue);
                        }
                        else {
                            alert('Use only letters: a-z, A-Z, åäö, ÅÄÖ');
                        }
                    });
                });
    </script>
}

